* {
  box-sizing: border-box;
}

/* Colors: 
Background: #FFF2F2;
Dark Pink: #E84E70;
Blackish: #1E1E1E;
Slate Gray: #B5B5B5;
*/

body {
	background-color: #fffcfc;
}

footer {
	margin-top:150px;
	background-color: #B5B5B5;
	color: #1E1E1E;
}

h1 {
font-family: 'Poppins', sans-serif;
text-transform: uppercase;
font-weight: 700;
letter-spacing: 3px;
margin-top: 10px;
}

h2 {
 font-family: 'Poppins', sans-serif;
 text-transform: uppercase;
 letter-spacing: 2px;
 font-size: 32px;
}

h3 {
	font-family: 'Poppins', sans-serif;
 text-transform: uppercase;
 letter-spacing: 2px;
}

h4 {
	font-family: 'Poppins', sans-serif;
 text-transform: uppercase;
 letter-spacing: 1px;
 font-size: 12px;
 text-align: center;

}

p {
	font-family: 'Poppins', sans-serif;
}

footer {
	padding: 25px;
}

ul {
	list-style: none;
	padding-top: 40px;
}

li {
	display: inline;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	padding:5px 10px;
	border-right: 2px solid #111;
	color: #1E1E1E;
	font-size: 16px;
}

li:last-child {
	border-right: none;
}

li.project-link-item {
	border-right: 0px;
}

a.nav-link:link, a.nav-link:visited, a.project-link:link, a.project-link:visited {
	
	color: #1E1E1E;
}

a.project-link:link, a.project-link:visited {
	background-color: #CCC9C9;
	padding: 5px;
}

a.nav-link:hover, a.nav-link:active, a.project-link:hover, a.project-link:active {
	
	padding: 10px;
	background-color: #E84E70;
	text-decoration: none;
}

a.other:link, a.other:visited {
	color: #1E1E1E;
}

a.other:hover, a.other:active {
	color: #E84E70;
}

.inline-link {
	background-color: #E84E70;
	padding: 0px 5px;
}

a.inline-link:hover {
	background-color: #fffcfc;
}

.project-link-list {
	margin:20px 0px;
	padding:0px;
	text-align: center;
}

.back-gray {
	background-color: #CCC9C9;
	padding: 5px;
}

.left-align {
	text-align: left;
	margin-top: 10px;
	padding-left: 40px;
	padding: 10px;
	border-top: 2px solid #111;
}
.bord-top {
	border-top: 2px solid #111;
}

.border-left {
	border-left: 2px solid #111;
}

.bord-bottom {
	margin: 20px 10px 10px 10px;
	border-bottom: 2px solid #111;
}

.section-title {
	margin-top: 0px;
	margin-bottom: 40px;
	padding: 5px;
	background-color: #E84E70;
}

.project-space {
	padding: 0px 30px 30px 30px;
}

.marg-right {
	margin-right: 100px;
}

#logo {
	padding: 20px;
}

#main-area {
	padding:30px 40px 200px 30px;
}

#contact-info {
	margin-top: 20px;
}

#bio-pic {
	margin-right: 15px;
}

#header-row {
	border-bottom: 2px solid #111;
}

#sidebar {
  width: 300px;
  height: 350px;
  padding-top: 15px;
  position: relative;
  background-color: #CCC9C9;
  color: #1E1E1E;
  margin-top: -2px;
}
#sidebar:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 70px solid #fff9f9;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
}
